<!DOCTYPE html>
<html lang="es">
	<head>
		<title>API-Tareas</title>
	</head>
	<body>
		<h1>API-Tareas</h1>
		<p>Llena los campos para crear una nueva tarea</p>
        <form action="/tarea" method="post">
            <label>Título: </label>
            <input type="text" name="titulo" value="Escribe un título aquí"><br>
            <label>Descripción:</label><br>
            <textarea name="descripcion" rows="6" cols="60">Escribe una descripción aquí.</textarea><br>
            <label>Completado: </label>
            <input type="checkbox" name="estado" value="true">
            <br><br>
            <input type="submit" value="Guardar">
        </form>
        <br><br><br><br>
        <a href="/tareas">
            <button>Ver tareas existentes</button>
        </a>
	</body>

</html>